extends layout

block content
  #navBar
    p #{character.name}
    a#doneButton(href="/")
      button.leftNavButton Done
    redirectRoot = '/character/' + character._id + '/name'
    a#editButton(href=redirectRoot)
      button.rightNavButton Edit
  #contentArea
    ul.optionList: label Background
      li.optionItem
        redirectRoot = '/character/' + character._id + '/homeland'
        a(href=redirectRoot)
          button
            p.optionLabel Homeland
            p.optionDesc #{homeland.name}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/race'
        a(href=redirectRoot)
          button
            p.optionLabel Race
            p.optionDesc Human
      li.optionItem
        redirectRoot = '/character/' + character._id + '/profession'
        a(href=redirectRoot)
          button
            p.optionLabel Profession
            p.optionDesc #{character.profession.name}
    ul.optionList: label Stats
      li.optionItem
        redirectRoot = '/character/' + character._id + '/soma'
        a(href=redirectRoot)
          button
            p.optionLabel Soma
            p.optionDesc #{'(' + character.soma.desc + '): ' + character.soma.currentLevel + '/' + character.soma.maxLevel}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/nous'
        a(href=redirectRoot)
          button
            p.optionLabel Nous
            p.optionDesc #{'(' + character.nous.desc + '): ' + character.nous.currentLevel + '/' + character.nous.maxLevel}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/humanity'
        a(href=redirectRoot)
          button
            p.optionLabel Humanity
            p.optionDesc #{character.humanity}
    ul.optionList: label Details
      li.optionItem
        redirectRoot = '/character/' + character._id + '/mods'
        a(href=redirectRoot)
          button
            p.optionLabel Mods
      li.optionItem
        redirectRoot = '/character/' + character._id + '/items'
        a(href=redirectRoot)
          button
            p.optionLabel Items
      li.optionItem
        redirectRoot = '/character/' + character._id + '/histories'
        a(href=redirectRoot)
          button
            p.optionLabel History
    