extends layout

block content
  #navBar
    p #{character.name}
    a#doneButton(href="/")
      button.leftNavButton Done
    redirectRoot = '/character/' + character._id + '/name'
    a#editButton(href=redirectRoot)
      button.rightNavButton Edit
  #contentArea
    ul.optionList: label Background
      li.optionItem
        redirectRoot = '/character/' + character._id + '/homeland'
        a(href=redirectRoot)
          button
            p.displayLabel Homeland
            p.displayDesc #{homeland.name}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/race'
        a(href=redirectRoot)
          button
            p.displayLabel Race
            p.displayDesc Human
      li.optionItem
        redirectRoot = '/character/' + character._id + '/profession'
        a(href=redirectRoot)
          button
            p.displayLabel Profession
            p.displayDesc #{character.profession.name}
    ul.optionList: label Statistics
      li.optionItem
        redirectRoot = '/character/' + character._id + '/soma'
        a(href=redirectRoot)
          button
            p.displayLabel Soma
            p.displayDesc #{'(' + character.soma.desc + '): ' + character.soma.currentLevel + '/' + character.soma.maxLevel}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/nous'
        a(href=redirectRoot)
          button
            p.displayLabel Nous
            p.displayDesc #{'(' + character.nous.desc + '): ' + character.nous.currentLevel + '/' + character.nous.maxLevel}
      li.optionItem
        redirectRoot = '/character/' + character._id + '/humanity'
        a(href=redirectRoot)
          button
            p.displayLabel Humanity
            p.displayDesc #{character.humanity}
    ul.optionList: label Details
      li.optionItem
        redirectRoot = '/character/' + character._id + '/mods'
        a(href=redirectRoot)
          button
            p.displayLabel Mods
      li.optionItem
        redirectRoot = '/character/' + character._id + '/items'
        a(href=redirectRoot)
          button
            p.displayLabel Items
      li.optionItem
        redirectRoot = '/character/' + character._id + '/histories'
        a(href=redirectRoot)
          button
            p.displayLabel History
    br
    