extends layout

block content
  #navBar
    p History
    redirectRoot = '/character/' + character._id + '/histories'
    a(href=redirectRoot)
      button.leftNavButton Done
    a(href='#')
      button.rightNavButton(id="save") Save
  #contentArea
    .dataEntry
      if history
        redirectRoot = '/character/' + character._id + '/history/' + history.name
      else
        redirectRoot = '/character/' + character._id + '/history'
      form#historyForm(action=redirectRoot, method="POST")
        fieldset
          p
            if history
              input(name="nameTE", type="text", size="23", required="required", value="#{history.name}")
            else
              input(name="nameTE", type="text", size="23", required="required", placeholder="Short descrition.")
          p
            if history
              input(name="dateTE", type="date", required="required", value="#{history.datetime}")
            else
              input(name="dateTE", type="date", required="required")
          if history
            textarea(name="descTA", rows="10", form="historyForm", placeholder="Detailed description.") #{history.desc}
          else
            textarea(name="descTA", rows="10", form="historyForm", placeholder="Detailed description.")

  script
    $(document).ready( function() {
        function checkdate(i){
            var validformat=/^\d{4}-\d{2}-\d{2}/; //Basic check for format validity
            var result = validformat.test(i);
            if( validformat.test(i)) {
                //Detailed check for valid date ranges
                var yearfield=i.split("-")[0];
                var monthfield=i.split("-")[1];
                var dayfield=i.split("-")[2];
                var dayobj = new Date(yearfield, monthfield-1, dayfield);

                if( (dayobj.getMonth()+1==monthfield)&&(dayobj.getDate()==dayfield)&&(dayobj.getFullYear()==yearfield))
                    return true;
            }
            
            return false;
        }

        function validateForm() {
            // validate form
            var good = true;

            var obj = $('input[name="nameTE"]');
            var x = obj.val();
            if( !x || x == "") {
                good = false;
                obj.addClass( "inputError");
            } else
                obj.removeClass( "inputError");

            obj = $('input[name="dateTE"]');
            if( !checkdate(obj.val()) ) {
                good = false;
                obj.addClass( "inputError");
            } else
                obj.removeClass( "inputError");

            return good;
        }

        $('#save').click( function() {
            if( validateForm())
                $('form').submit();
        });
    });