extends layout

block content
  #navBar
    p #{homeland.world}
    a#doneButton(href=doneURL)
      button.leftNavButton Done
  #contentArea
    .dataDisplay
      h1.centered #{homeland.name}
      p.explanatoryHeading
        | #{homeland.desc}
    ul.optionList: label Tech Level
      li.optionItem
        a(href='#')
          div
            p.optionLabel Biotechnology
            p.optionDesc #{homeland.techLevel.biology}
      li.optionItem
        a(href='#')
          div
            p.optionLabel Computing
            p.optionDesc #{homeland.techLevel.compSci}
      li.optionItem
        a(href='#')
          div
            p.optionLabel Nanotech
            p.optionDesc #{homeland.techLevel.nanoTech}
    ul.optionList: label Memes
      each hL in homeland.culture
        li.optionItem
          a(href='#')
            div
              p.optionLabel #{hL.name}
              p.optionDesc #{hL.level}
