extends layout

block content
  if !owned
    owned = 0

  #navBar
    p #{item.name}
    a#doneButton(href=doneURL)
      button.leftNavButton Done
      button#buyButton(class="rightNavButton", disabled="disabled") Buy
    a#buyButton
      button.rightNavButton(disabled="disabled") Buy
  #contentArea
    .dataDisplay
      p#amountOwned #{owned} Owned
      p.explanatoryHeading
        | #{item.desc}
    ul.optionList: label Cost
      li.optionItem
        a(href='#')
          div
            p.optionLabel Credits
            p.optionDesc #{item.cost}
    ul.optionList: label Benefits
      li.optionItem
        a(href='#')
          div
            p.optionLabel Bogus
            p.optionDesc Bogosity
    formURL = '/character/' + character._id + '/item/' + item._id
      form(action=formURL, method="POST")
        fieldset
          input(type="text", hidden="hidden", name="transaction", id="transaction", value="buy")
          input(type="text", hidden="hidden", name="doneURL", value=doneURL)
          br
          .dataEntry
            .rangeInput
              label#amountLabel(for="amount") #{owned}
              maxAmount = Math.floor(( character.credits + item.cost * owned)/item.cost)
              input(type="range", name="amount", min="0", max=maxAmount, step="1", id="amountRange", value="#{owned}")
              .rangeLabels
                p.minLabel 0
                p.maxLabel #{maxAmount}

  script
    $(document).ready( function() {
        if( !#{eligible})
            $('#amountRange').attr('readonly','readonly');

        $('#amountRange').change( function() {
            if( $(this).val() > #{owned} && #{eligible}) {
                $('#buyButton button').removeAttr('disabled')
                    .text('Buy');
                $('#transaction').val('buy');
            } else if( $(this).val() == #{owned}) {
                $('#buyButton button').attr('disabled','disabled');
            } else {
                $('#buyButton button').removeAttr('disabled')
                    .text('Sell');
                $('#transaction').val('sell');
            }
            
            $('#amountLabel').text( $(this).val());
        });

        $('#buyButton button').click( function() {
            if( #{eligible} && $('#amountRange').val() != #{owned})
                $('form').submit();
        });
    });
    