extends layout

block content
  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#doneButton(href=doneURL)
        button.leftNavButton Done
      p #{item.name}
      button#buyButton(class="rightNavButton", disabled="disabled") Buy
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | #{item.desc}
      ul.displayList: label Cost
        li
          a.displayItem(href='#')
            div
              p.displayLabel Credits
              p.displayDesc #{item.cost}
      ul.displayList: label Benefits
        li
          a.displayItem(href='#')
            div
              p.displayLabel Bogus
              p.displayDesc Bogosity
      formURL = '/character/' + character._id + '/item/' + item._id
        form(action=formURL, method="POST")
          fieldset
            input(type="text", hidden="hidden", name="transaction", id="transaction", value="buy")
            input(type="text", hidden="hidden", name="doneURL", value=doneURL)
            br
            div.dataEntry
              div.rangeInput
                h1#amountLabel(class="centered") Number Owned: #{owned}
                maxAmount = Math.floor(( character.credits + item.cost * owned)/item.cost)
                input(type="range", name="amount", min="0", max=maxAmount, step="1", id="amountRange", value=owned)
                p.leftLabel 0
                p.rightLabel #{maxAmount}

  script
    $(document).ready( function() {
        if( !#{eligible})
            $('#amountRange').attr('readonly','readonly');

        $('#amountRange').change( function() {
            if( $(this).val() > #{owned} && #{eligible}) {
                $('#buyButton').removeAttr('disabled')
                    .text('Buy');
                $('#transaction').val('buy');
            } else if( $(this).val() == #{owned}) {
                $('#buyButton').attr('disabled','disabled');
            } else {
                $('#buyButton').removeAttr('disabled')
                    .text('Sell');
                $('#transaction').val('sell');
            }
            
            $('#amountLabel').text( 'Number Owned: ' + $(this).val());
        });

        $('#buyButton').click( function() {
            if( #{eligible})
                $('form').submit();
        });
    });
    