extends layout

block content
  #navBar
    p #{mod.name}
    a#doneButton(href=doneURL)
      button.leftNavButton Done
    if owned
      a#buyButton
        button.rightNavButton Sell
    else
      a#buyButton
        button.rightNavButton Buy
  #contentArea
    div.dataEntry
      p.explanatoryHeading
        | #{mod.desc}
      ul.optionList: label Cost
        li.optionItem
          a(href='#')
            button
              p.optionLabel Humanity
              p.optionDesc #{mod.humanCost}
        li.optionItem
          a(href='#')
            button
              p.optionLabel Credits
              p.optionDesc #{mod.creditCost}
      ul.optionList: label Benefits
        li.optionItem
          a(href='#')
            button
              p.optionLabel Bogus
              p.optionDesc Bogosity
      formURL = '/character/' + character._id + '/mod/' + mod._id
      form(action=formURL, method="POST", hidden="hidden")
        if owned
          input(type="text", hidden="hidden", name="transaction", value="sell")
        else
          input(type="text", hidden="hidden", name="transaction", value="buy")
        input(type="text", hidden="hidden", name="doneURL", value=doneURL)

  script
    $(document).ready( function() {
        if( !#{eligible})
            $('#buyButton').attr('disabled','disabled');
            
        $('#buyButton').click( function() {
            if( #{eligible})
                $('form').submit();
        });
    });
    