extends layout

block content
  script
    var modDict = {};
    var ownedDict = {};
    var prohibitedDict = {};

  #navBar
    p Mods
    a#cancelButton(href=cancelURL)
      if formURL
        button.leftNavButton Cancel
      else
        button.leftNavButton Done
    if formURL
      a#nextButton
        button.rightNavButton Next
  #contentArea
    .dataDisplay
      p.explanatoryHeading
        | Genetic modifications and technological augmentations
        | provide superhuman powers.
      .splitP
        p.leftP Humanity #{character.humanity}
        p.rightP Credits #{character.credits}
    form(action=formURL, method="POST")
        fieldset
          each modType in mods
            ul.optionList: label #{modType[0].type}
              each mod in modType
                li.optionItem(id="#{mod.name}")
                  if( formURL)
                    detailsURL = formURL + '/' + mod.name
                  else
                    detailsURL = '/character/' + character._id + '/mod/' + mod.name
                  a(href=detailsURL)
                    div
                      p.optionLabel #{mod.name}
                      descStr = mod.humanCost + '/' + mod.creditCost
                      p.optionDesc #{descStr}
                  script
                    var newObj = {lock:0,
                        selected:false,
                        name:"#{mod.name}",
                        prohibited:[],
                        humanCost:#{mod.humanCost},
                        creditCost:#{mod.creditCost}
                        };
                    modDict["#{mod.name}"] = newObj;

  each modObj in character.mods
    script
      ownedDict[ '#{modObj.name}'] = '#{modObj.name}';
    each prohibitedName in modObj.prohibited
      script
        prohibitedDict[ '#{prohibitedName}'] = true;

  script
    $(document).ready( function() {
        var getModDictEntry = function(obj) {
            var mStr = obj.attr("id");
            return modDict[mStr];
        };

        var checkCost = function(m) {
            if( m.humanCost > #{character.humanity} || m.creditCost > #{character.credits})
                return false;
            return true;
        };
        
        var checkProhibited = function(m) {
            if( prohibitedDict[ m.name])
              return true;
            
            return false;
        };

        // initialize each item
        $(".optionItem").each( function() {
            var m = getModDictEntry($(this));
            if( ownedDict[m.name] != null)
              $(this).addClass('selectedItem');
            else {
              if( !checkCost(m))
                $(this).addClass('tooExpensiveItem');
              if( checkProhibited(m))
                $(this).addClass('prohibitedItem');
            }
        });

        $('#nextButton').click( function() {
            $('form').submit();
        });
    });