extends layout

block content
  #navBar
    p Modifications
    destURL = '/character/' + character._id
    a#cancelButton(href=destURL)
      button.leftNavButton Done
    destURL = '/character/' + character._id + '/buymods'
    a#buyButton(href=destURL)
      button.rightNavButton New
  #contentArea
    .dataDisplay
      .splitP
        p.leftP Humanity #{character.humanity}
        p.rightP Credits #{character.credits}
    each modType in ownedMods
      ul.optionList: label #{modType[0].type}
        each mod in modType
          li.optionItem(id="#{mod.name}")
            detailsURL = '/character/' + character._id + '/mod/' + mod.name
            a(href=detailsURL)
              button
                p.optionLabel #{mod.name}
