extends layout

block content
  #navBar
    p Modifications
    a#cancelButton(href='/')
      button.leftNavButton Done
    destURL = '/character/' + character._id + '/buymods'
    a#buyButton(href=destURL)
      button.rightNavButton New
  #contentArea
    .dataDisplay
      .splitP
        p.leftP Humanity #{character.humanity}
        p.rightP Credits #{character.credits}
    each modType in ownedMods
      ul.optionList: label #{modType[0].type}
        each mod in modType
          li.optionItem(id="#{mod.name}")
            detailsURL = '/character/' + character._id + '/mod/' + mod.name
            a(href=detailsURL)
              div
                p.optionLabel #{mod.name}
    leftRoot = '/character/' + character._id + '/items'
    form#swipeLeftForm(action=leftRoot, method="GET")
    rightRoot = '/character/' + character._id
    form#swipeRightForm(action=rightRoot, method="GET")

    img.pageIndicator(src='/images/page2.png')
    
  script
    $(document).ready( function() {
        var hammer = $("#contentArea").hammer();
        
        hammer.on( 'swipeleft', function() {
            $('#swipeLeftForm').submit();
        });
        hammer.on( 'swiperight', function() {
            $('#swipeRightForm').submit();
        });
    });