extends layout

block content
  #navBar
    p Items
    a#cancelButton(href='/')
      button.leftNavButton Done
    destURL = '/character/' + character._id + '/buyitems'
    a#buyButton(href=destURL)
      button.rightNavButton New
  #contentArea
    .dataDisplay
      .splitP
        p.rightP Credits #{character.credits}
    each itemType in ownedItems
      ul.optionList: label #{itemType[0].item.category}
        each belongingObj in itemType
          li.optionItem(id="#{belongingObj.item.name}")
            detailsURL = '/character/' + character._id + '/item/' + belongingObj.item.name
            a(href=detailsURL)
              button
                p.optionLabel #{belongingObj.item.name}
                p.optionDesc #{belongingObj.amount}
    leftRoot = '/character/' + character._id + '/histories'
    form#swipeLeftForm(action=leftRoot, method="GET")
    rightRoot = '/character/' + character._id + '/mods'
    form#swipeRightForm(action=rightRoot, method="GET")

    img.pageIndicator(src='/images/page3.png')

  script
    $(document).ready( function() {
        var hammer = $(document).hammer();
        
        hammer.on( 'swipeleft', function() {
            $('#swipeLeftForm').submit();
        });
        hammer.on( 'swiperight', function() {
            $('#swipeRightForm').submit();
        });
    });