extends layout

block content
  #navBar
    p Characters
    a(href="/wizard/choosehomeland")
      button.rightNavButton New
  #contentArea
    ul.displayList
      each character in characters
        li
          redirectRoot = '/character/' + character._id
          a.displayItem(href=redirectRoot)
            div(class='swipeButton buttonOff')
              p.displayLabel #{character.name}
              button(class='deleteButton') Delete
            button.rootButton
              p.displayLabel #{character.name}
              p.displayDesc #{character.profession.name}
            deleteRoot = '/character/' + character._id + '/delete'
            form(action=deleteRoot, method="POST")

  script
    $(document).ready( function() {
        var hammer = $(".displayItem").hammer();
        
        hammer.on( 'swipeleft', function(ev) {
            ev.stopPropagation();
            ev.preventDefault();

            var thisObj = $(this);
            thisObj.find('.swipeButton').removeClass( 'buttonOff');
            thisObj.find('.rootButton').addClass( 'buttonOff');
            
            $(document).one("click", function(e) {
                e.stopPropagation();
                e.preventDefault();
                if( $(e.target).hasClass('deleteButton'))
                    thisObj.find('form').submit();
                
                thisObj.find('.swipeButton').addClass( 'buttonOff');
                thisObj.find('.rootButton').removeClass( 'buttonOff');
            });
        });
    });