extends layout

block content
  script
    var itemDict = {};

  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Items
    #contentArea
      div.dataEntry
        form(action="/wizard/chooseitems", method="POST")
          fieldset
            p#credTot Credits #{credits}
            br
            #mainMenu
              input#result(name='result', type="text", hidden="hidden")
              each itemType in mods
                h1.centered #{itemType[0].category}
                  ul.listItems
                    each itemObj in itemType
                      li.listItem(id="#{itemObj.name}"): label #{itemObj.name}
                        script
                          var newObj = {selected:false,
                                name:"#{itemObj.name}",
                                cost:#{itemObj.cost}
                                };
                          itemDict["#{itemObj.name}"] = newObj;
            p
              button.rightForm(id="next") Next

  script
    $(document).ready( function() {
        var cr = #{credits};
    
        var getItemDictEntry = function(obj) {
            var mStr = obj.attr("id");
            return itemDict[mStr];
        }
    
        var checkEligibility = function(m) {
            if( m.cost > cr)
                return false;
            return true;
        };

        // initialize each item
        $(".listItem").each( function() {
            var i = getItemDictEntry($(this));
            if( !checkEligibility(i))
              $(this).addClass('tooExpensiveItem');
        });

        var select = function(o, jqItemItem) {
            // check to see if the item is not locked and affordable
            if( o.cost <= cr) {
                o.selected = true;
                jqItemItem.addClass('selectedItem');

                // update credits
                cr -= o.cost;
                cr = Math.round(cr*100)/100;
                $('#credTot').html('Credits ' + cr);

                // apply changes to the rest of the items
                $(".listItem").each( function() {
                    if( $(this).text() != o.name) {
                        var o2 = getItemDictEntry($(this));
                    
                        if( !checkEligibility(o2) && !o2.selected)
                            $(this).addClass('tooExpensiveItem');
                    }
                });
            }
        };
        
        var deselect = function(o, jqItemItem) {
            o.selected = false;
            jqItemItem.removeClass('selectedItem');

            // update credits
            cr += o.cost;
            $('#credTot').html('Credits ' + cr);

            // apply changes to the rest of the items
            $(".listItem").each( function() {
                if( $(this).text() != o.name) {
                    var o2 = getItemDictEntry($(this));
                    
                    if( checkEligibility(o2))
                        $(this).removeClass('tooExpensiveItem');
                }
            });
        };
        
        $(".listItem").click( function() {
            var o = getItemDictEntry($(this));

            if( o.selected)
              deselect(o, $(this));
            else
              select(o, $(this));
        });
        
        $('#next').click( function() {
            var result = '';
            var virginStr = false;
            $(".listItem").each( function() {
                var o = getItemDictEntry($(this));
                if( o.selected) {
                    if( !virginStr) {
                        virginStr = true;
                    } else {
                        result += ',';
                    }
                    result += o.name;
                }
            });
            
            $('#result').attr('value',result);
        });
    });