extends layout

block content
  script
    var itemDict = {};
    var ownedDict = {};

  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Items
      button#nextButton(class="rightNavButton") Next
    #contentArea
      div.dataEntry
        form(action="/wizard/chooseitems", method="POST")
          fieldset
            p#credTot Credits #{character.credits}
            br
            each itemType in mods
              h1.centered #{itemType[0].category}
                ul.optionList
                  each itemObj in itemType
                    li.optionItem(id="#{itemObj.name}")
                      detailsURL = '/wizard/chooseitems/' + itemObj.name
                      a(href=detailsURL)
                        div
                          p.optionLabel #{itemObj.name}
                          descStr = 'Cr ' + itemObj.cost
                          p.optionDesc #{descStr}
                      script
                          var newObj = {selected:false,
                              name:"#{itemObj.name}",
                              cost:#{itemObj.cost}
                              };
                          itemDict["#{itemObj.name}"] = newObj;

  each itemObj in character.belongings
    script
      ownedDict[ '#{itemObj.item.name}'] = '#{itemObj.item.name}';

  script
    $(document).ready( function() {
        var getItemDictEntry = function(obj) {
            var mStr = obj.attr("id");
            return itemDict[mStr];
        }
    
        var checkEligibility = function(m) {
            if( m.cost > #{character.credits})
                return false;
            return true;
        };

        // initialize each item
        $(".optionItem").each( function() {
            var i = getItemDictEntry($(this));
            if( ownedDict[i.name])
              $(this).addClass('selectedItem');
            else if( !checkEligibility(i))
              $(this).addClass('tooExpensiveItem');
        });

        $('#nextButton').click( function() {
            $('form').submit();
        });
    });