extends layout

block content
  script
    var modDict = {};

  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Modifications
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | Genetic modifications and technological augmentations
          | provide superhuman powers.
        form(action="/wizard/choosemods", method="POST")
          fieldset
            p#humanTot Humanity #{humanity}
            p#credTot Credits #{credits}
            br
            #mainMenu
              input#result(name='result', type="text", hidden="hidden")
              each modType in mods
                h1.centered #{modType[0].type}
                  ul.listItems
                    each mod in modType
                      li.listItem(id="#{mod.name}"): label #{mod.name}
                        script
                          var newObj = {lock:0,
                                  selected:false,
                                  name:"#{mod.name}",
                                  prohibited:[],
                                  humanCost:#{mod.humanCost},
                                  creditCost:#{mod.creditCost}
                                  };
                          modDict["#{mod.name}"] = newObj;
                        each pObj in mod.prohibited
                          script
                            newObj.prohibited.push("#{pObj}");
            p
              button.rightForm(id="next") Next

  script
    $(document).ready( function() {
        var hum = #{humanity};
        var cr = #{credits};
        
        var getModDictEntry = function(obj) {
            var mStr = obj.attr("id");
            return modDict[mStr];
        }
    
        var checkEligibility = function(m) {
            if( m.humanCost > hum || m.creditCost > cr)
                return false;
            return true;
        };

        // initialize each item
        $(".listItem").each( function() {
            var m = getModDictEntry($(this));
            if( !checkEligibility(m))
              $(this).addClass('tooExpesiveItem');
        });

        var select = function(o, jqModItem) {
            // check to see if the item is not locked and affordable
            if( o.lock < 1 && o.humanCost <= hum && o.creditCost <= cr) {
                // not locked, let's do it
                o.selected = true;
                jqModItem.addClass('selectedItem');

                // update humanity and credits
                hum -= o.humanCost;
                hum = Math.round(hum*100)/100;
                $('#humanTot').html('Humanity ' + hum);
                cr -= o.creditCost;
                cr = Math.round(cr*100)/100;
                $('#credTot').html('Credits ' + cr);

                // apply changes to the rest of the items
                $(".listItem").each( function() {
                    if( $(this).text() != o.name) {
                        var o2 = getModDictEntry($(this));
                        if( o.prohibited && o.prohibited.indexOf( o2.name) > -1) {
                            // its on the prohib list
                            if( $(this).hasClass('selectedItem'))
                                throw 'listItem:onClick selected item already has prohibited item selected';

                            o2.lock++;
                            if( !o2.selected)
                                $(this).addClass('prohibitedItem');
                        }
                    
                        if( !checkEligibility(o2) && !o2.selected)
                            $(this).addClass('tooExpensiveItem');
                    }
                });
            }
        };
        
        var deselect = function(o, jqModItem) {
            // not locked, let's do it
            o.selected = false;
            jqModItem.removeClass('selectedItem');

            // update humanity and credits
            hum += o.humanCost;
            hum = Math.round(hum*100)/100;
            $('#humanTot').html('Humanity ' + hum);
            cr += o.creditCost;
            cr = Math.round(cr*100)/100;
            $('#credTot').html('Credits ' + cr);

            // apply changes to the rest of the items
            $(".listItem").each( function() {
                if( $(this).text() != o.name) {
                    var o2 = getModDictEntry($(this));
                    if( o.prohibited && o.prohibited.indexOf( o2.name) > -1) {
                        // its on the prohibited list
                        o2.lock--;
                        if( 0 == o2.lock)
                            $(this).removeClass('prohibitedItem');
                    }
                    
                    if( checkEligibility(o2))
                        $(this).removeClass('tooExpensiveItem');
                }
            });
        };
        
        $(".listItem").click( function() {
            var o = getModDictEntry($(this));

            if( o.selected)
              deselect(o, $(this));
            else
              select(o, $(this));
        });
        
        $('#next').click( function() {
            var result = '';
            var virginStr = false;
            $(".listItem").each( function() {
                var o = getModDictEntry($(this));
                if( o.selected) {
                    if( !virginStr) {
                        virginStr = true;
                    } else {
                        result += ',';
                    }
                    result += o.name;
                }
            });
            
            $('#result').attr('value',result);
        });
    });