extends layout

block content
  script
    var modDict = {};

  #containerDiv
    img.backImage(src="/images/transhuman-peacock-dancer.jpg") 
    #navBar
      a#cancelButton(href="/wizard/cancel")
        button.leftNavButton Cancel
      p Modifications
    #contentArea
      div.dataEntry
        p.explanatoryHeading
          | Genetic modifications and technological augmentations
          | provide superhuman powers.
        form(action="/wizard/choosemods", method="POST")
          fieldset
            p#humanTot Humanity #{character.humanity}
            p#credTot Credits #{character.credits}
            br
            #mainMenu
              input#result(name='result', type="text", hidden="hidden")
              each modType in mods
                h1.centered #{modType[0].type}
                  ul.optionList
                    each mod in modType
                      li.optionItem(id="#{mod.name}")
                        detailsURL = '/wizard/choosemods/' + mod.name
                        a(href=detailsURL)
                          div
                            p.optionLabel #{mod.name}
                            descStr = 'Hum ' + mod.humanCost + ' / Cr ' + mod.creditCost
                            p.optionDesc #{descStr}
                        script
                          var newObj = {lock:0,
                                  selected:false,
                                  name:"#{mod.name}",
                                  prohibited:[],
                                  humanCost:#{mod.humanCost},
                                  creditCost:#{mod.creditCost}
                                  };
                          modDict["#{mod.name}"] = newObj;
                        each pObj in mod.prohibited
                          script
                            newObj.prohibited.push("#{pObj}");
            p
              button.rightForm(id="next") Next

  script
    $(document).ready( function() {
        var cMods = #{character.mods};
        
        var getModDictEntry = function(obj) {
            var mStr = obj.attr("id");
            return modDict[mStr];
        }

        var isOwned = function(m) {
            for( var i=0; i<cMods.length;i++) {
              if( m.name == cMods[i].name)
                return true;
            }
            
            return false;
        };
        
        var checkCost = function(m) {
            if( m.humanCost > #{character.humanity} || m.creditCost > #{character.credits})
                return false;
            return true;
        };
        
        var checkProhibited = function(m) {
            for( var i=0; i<cMods.length;i++) {
              for( var j=0; j<cMods[i].prohibited.length;j++) {
                  if( m.name == cMods[i].prohibited[j])
                    return true;
              }
            }
            
            return false;
        };

        // initialize each item
        $(".optionItem").each( function() {
            var m = getModDictEntry($(this));
            if( isOwned(m))
              $(this).addClass('selectedItem');
            else {
              if( !checkCost(m))
                $(this).addClass('tooExpesiveItem');
              if( checkProhibited(m))
                $(this).addClass('prohibitedItem');
            }
        });

        $('#next').click( function() {
            var result = '';
            var virginStr = false;
            $(".optionItem").each( function() {
                var o = getModDictEntry($(this));
                if( o.selected) {
                    if( !virginStr) {
                        virginStr = true;
                    } else {
                        result += ',';
                    }
                    result += o.name;
                }
            });
            
            $('#result').attr('value',result);
        });
    });